<nav class="navbar navbar-expand-lg
 py-3 fixed-top" (scroll)="onScroll($event)"
 [ngClass]= "{'navbar-transform' : positionExceds === true}">
 
    <a class="navbar-brand mx-3" router-link="/">
        <h2 class="font-weight-bold mb-0 brand">AISHWARYAM</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenuButton"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarMenuButton">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">
                    <h3 class="mb-0 px-1">Home</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products">
                    <h3 class="mb-0 px-1">Products</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs">
                    <h3 class="mb-0 px-1">Blogs</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dealership">
                    <h3 class="mb-0 px-1">Dealership</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">
                    <h3 class="mb-0 px-1">Contat Us</h3>
                </a>
            </li>
        </ul>
    </div>
</nav>