<!-- Banner -->
<section class="banner">
    <div class="container-fluid">
        <div class="row py-4 px-2">
            <div class="col-md-6 text-center">
                <i class="fa fa-adn" aria-hidden="true"></i>
                <h1 class="font-weight-bold display-4 banner-text">Definitely You'll</h1>
                <h1 class="font-weight-bold display-4 banner-text">feel it!</h1>
                <div class="mb-4 mt-1">
                    <span class="text-white h4">Natural&nbsp;&diams;</span>
                    <span class="text-white h4">&nbsp;Healthy&nbsp;&diams;</span>
                    <span class="text-white h4">&nbsp;Tasty</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="parent-img">
                    <img src="./../../../assets/pictures/1.png" alt="AISHARYAM IMG" width="400"
                        class="img-fluid banner-img1">
                    <img src="./../../../assets/pictures/2.png" alt="AISHARYAM IMG" width="370"
                        class="img-fluid banner-img2">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Banner -->

<!-- Product display -->
<section class="product-display">
    <!-- Health mix -->
    <div class="health-mix p-4">
        <div class="container-fluid">
            <div class="row title-health-mix">
                <div class="col text-white text-center mt-3">
                    <h3 class="display-md-4 font-weight-bold p-2">Aishwaryam Health Mix</h3>
                    <div class="underline my-4"></div>
                    <p class="lead pb-5 mx-5 font-weight-bold">
                        Aishwaryam Health Mix is a combination of twenty one high fiber millets which neither contains
                        preservaties nor any artificial flavours. Each variety of grains is considerably exposed under
                        sunlight and are being tosted gently and packed.You will definitely gain high nutrition, super
                        energy and feel the taste as well.
                    </p>
                </div>
            </div>
            <div class="row py-4 text-white">
                <div class="col-md-6 text-center">
                    <img src="./../../../assets/pictures/helthMiGrains.png" alt="grains" width="600" class="img-fluid title-img">
                </div>
                <div class="col-md-6 HM-desc-section">
                    <img src="./../../../assets/pictures/star.png">
                    <ul class="list-group mt-4">
                        <li class="list-group-item" style="background: transparent; border: none;">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                        </li>
                        <li class="list-group-item" style="background: transparent; border: none;">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                        </li>
                        <li class="list-group-item" style="background: transparent; border: none;">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                        </li>
                        <li class="list-group-item" style="background: transparent; border: none;">
                            <div class="d-flex align-items-center justify-content-center text-white">
                                <button class="btn btn-primary font-weight-bold">Know More</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-primary font-weight-bold px-4">Buy now</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of health mix -->
        <!-- Black urad dal -->
        <div class="health-mix p-4">
            <div class="container-fluid">
                <div class="row title-black-urad-dal">
                    <div class="col text-white text-center mt-3">
                        <h3 class="display-md-4 font-weight-bold p-2">Aisharyam Black urad dal</h3>
                        <div class="underline my-4"></div>
                        <p class="lead pb-5 mx-5 font-weight-bold">
                            Aishwaryam Health Mix is a combination of twenty one high fiber millets which neither contains
                            preservaties nor any artificial flavours. Each variety of grains is considerably exposed under
                            sunlight and are being tosted gently and packed.You will definitely gain high nutrition, super
                            energy and feel the taste as well.
                        </p>
                    </div>
                </div>
                <div class="row py-4 text-secondary">
                    <div class="col-md-6 HM-desc-section">
                        <ul class="list-group mt-4">
                            <li class="list-group-item" style="background: transparent; border: none;">
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                            </li>
                            <li class="list-group-item" style="background: transparent; border: none;">
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                            </li>
                            <li class="list-group-item" style="background: transparent; border: none;">
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                            </li>
                            <li class="list-group-item" style="background: transparent; border: none;">
                                <div class="d-flex align-items-center justify-content-center text-white">
                                    <button class="btn btn-primary font-weight-bold">Know More</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-primary font-weight-bold px-4">Buy now</button>
                                </div>
                            </li>
                        </ul>
                        <img src="./../../../assets/pictures/star.png">
                    </div>
                    <div class="col-md-6 text-center mt-3">
                        <img src="./../../../assets/pictures/_DSC1362-3-2.jpg" alt="grains" width="700" class="img-fluid title-img">
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Black urad dal -->
            <!-- Multi millet Dosa mix -->
    <div class="health-mix p-4">
        <div class="container-fluid">
            <div class="row title-multi-millet-dosa-mix">
                <div class="col text-white text-center mt-3">
                    <h3 class="display-md-4 font-weight-bold p-2">Aishwaryam Multi Millet Dosa Mix</h3>
                    <div class="underline my-4"></div>
                    <p class="lead pb-5 mx-5 font-weight-bold">
                        Aishwaryam Health Mix is a combination of twenty one high fiber millets which neither contains
                        preservaties nor any artificial flavours. Each variety of grains is considerably exposed under
                        sunlight and are being tosted gently and packed.You will definitely gain high nutrition, super
                        energy and feel the taste as well.
                    </p>
                </div>
            </div>
            <div class="row py-4 text-secondary">
                <div class="col-md-6 text-center mt-3">
                    <img src="./../../../assets/pictures/final sweets-2.jpg" alt="grains" width="700" class="img-fluid title-img">
                </div>
                <div class="col-md-6 HM-desc-section">
                    <ul class="list-group mt-4">
                        <li class="list-group-item" style="background: transparent; border: none;">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                        </li>
                        <li class="list-group-item" style="background: transparent; border: none;">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                        </li>
                        <li class="list-group-item" style="background: transparent; border: none;">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                        </li>
                        <li class="list-group-item" style="background: transparent; border: none;">
                            <div class="d-flex align-items-center justify-content-center text-white">
                                <button class="btn btn-primary font-weight-bold">Know More</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-primary font-weight-bold px-4">Buy now</button>
                            </div>
                        </li>
                    </ul>
                    <img src="./../../../assets/pictures/star.png">
                </div>
            </div>
        </div>
    </div>
    <!-- End of Multi millet Dosa mix -->
        <!-- Wheat puttu -->
        <div class="health-mix p-4">
            <div class="container-fluid">
                <div class="row title-wheat-puttu">
                    <div class="col text-white text-center mt-3">
                        <h3 class="display-md-4 font-weight-bold p-2">Aishwaryam Wheat Puttu</h3>
                        <div class="underline my-4"></div>
                        <p class="lead pb-5 mx-5 font-weight-bold">
                            Aishwaryam Health Mix is a combination of twenty one high fiber millets which neither contains
                            preservaties nor any artificial flavours. Each variety of grains is considerably exposed under
                            sunlight and are being tosted gently and packed.You will definitely gain high nutrition, super
                            energy and feel the taste as well.
                        </p>
                    </div>
                </div>
                <div class="row py-4 text-secondary">
                    <div class="col-md-6 HM-desc-section">
                        <ul class="list-group mt-4">
                            <li class="list-group-item" style="background: transparent; border: none;">
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                            </li>
                            <li class="list-group-item" style="background: transparent; border: none;">
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                            </li>
                            <li class="list-group-item" style="background: transparent; border: none;">
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo jfjflisd iowflksdf</h3>
                            </li>
                            <li class="list-group-item" style="background: transparent; border: none;">
                                <div class="d-flex align-items-center justify-content-center text-white">
                                    <button class="btn btn-primary font-weight-bold">Know More</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-primary font-weight-bold px-4">Buy now</button>
                                </div>
                            </li>
                        </ul>
                        <img src="./../../../assets/pictures/star.png">
                    </div>
                    <div class="col-md-6 text-center mt-3">
                        <img src="./../../../assets/pictures/wheat puttu.jpg" alt="grains" width="700" class="img-fluid title-img">
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Wheat puttu -->
</section>
<!-- End of product display -->